---
---
:root {
  --font-accent: "{{ site.font_accent }}";
  --font-main: "{{ site.font_main }}";
  --light-shade: #FCF4F0;
  --light-accent: #EDC5B4;
  --main-brand: #DA8A67;
  --dark-accent: #6D4534;
  --dark-shade: #160E0A;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--main-brand);
}

a:hover, a:active {
  color: var(--light-accent);
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: var(--light-accent);
  font-size: 1rem;
  line-height: 1.33rem;
  margin: 1.77rem auto;
  padding-left: 1.77rem;
  padding-right: 1.77rem;
}

body {
  color: var(--light-shade);
  background: var(--dark-shade);
  font-family: var(--font-main), sans-serif;
  font-size: 133.33%;
  line-height: 1.77rem;
  max-width: 50rem;
  margin: 1.33rem auto;
  padding: 0 0.75rem;
  text-rendering: optimizeLegibility;
}

dd {
  margin-bottom: 1.33rem;
}

dt {
  font-weight: 700;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure > figcaption {
  color: var(--light-accent);
  font-variant: small-caps;
  font-size: 1.0rem;
  line-height: 166%;
  margin: auto;  
}

footer {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--dark-accent);
  margin-top: 2.37rem;
}

header {
  margin-bottom: 2.37rem;
}

h1, h2 {
  font-family: var(--font-accent);
}

h1 {
  color: var(--main-brand);
  font-size: 3.16rem;
  margin-bottom: 1.333rem;
  margin-top: 1.777rem;
  text-transform: uppercase;
  text-shadow: 0 0.125rem 0.0625rem var(--light-accent);
}

h1 > a:hover {
  text-decoration: none;
}

h2 {
  color: var(--light-accent);
  font-size: 2.37rem;
  line-height: 116%;
  text-shadow: 0 0.125rem 0.0625rem var(--main-brand);
  text-transform: uppercase;
}

h3 {
  color: var(--light-accent);
  font-size: 1.77rem;
  margin-top: 2.37rem;
  margin-bottom: 0.75rem;
}

h4 {
  color: var(--light-accent);
  font-weight: 700;
}

img {
  max-width: 100% !important;
}

li {
  margin-top: 1.33rem;
}

nav {
  display: flex;
  margin: 1.77rem auto;
  text-transform: uppercase;
  text-shadow: 0 0 0.0625rem var(--light-accent);
}

nav > a {
  display: inline-block;
  padding: 0 1.333rem 0 0;
}

pre, pre code {
  overflow-x: auto;
  white-space: pre-wrap;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.77rem;
  letter-spacing: 0.05rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.75rem;
}

td, th {
  padding: 0.25rem;
  text-align: left;
}

thead {
  border-bottom: 1px solid var(--dark-accent);
}

tfoot {
  border-top: 1px solid var(--dark-accent);
}

.article-chart {
  text-transform: uppercase;
}

.bullet-less, .bullet-less li {
  list-style-position: inside;
  list-style-type: none;
  padding-bottom: 0.166rem;
  text-transform: uppercase;
}

.col_act {
  color: var(--light-accent);
}

.date-header {
  font-size: 1rem;
  color: var(--light-accent);
  margin-top: -2rem;
}

.muted {
  font-size: 0.75rem;
  color: var(--dark-accent);
}
