
:root {
  --font-accent: 'Merriweather';
  --font-main: 'Fira Sans';
  --background-body: #302320;
  --text-main: #F2EDDF;
  --main-brand: #BB7733;
  --dark-accent: #946345;
  --light-accent: #A09F8F;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--main-brand);
}

a:hover, a:active {
  color: var(--light-accent);
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: var(--light-accent);
  font-size: 1rem;
  line-height: 1.33rem;
  margin: 1.77rem auto;
  padding-left: 1.77rem;
  padding-right: 1.77rem;
}

body {
  color: var(--text-main);
  background: var(--background-body);
  font-family: var(--font-main), sans-serif;
  font-size: 133.33%;
  line-height: 1.77rem;
  max-width: 50rem;
  margin: 1.33rem auto;
  padding: 0 0.75rem;
  text-rendering: optimizeLegibility;
}

dd {
  margin-bottom: 1.33rem;
}

dt {
  font-weight: 700;
}

footer {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--dark-accent);
  margin-top: 2.37rem;
}

header {
  margin-bottom: 2.37rem;
}

h1, h2 {
  font-family: var(--font-accent);
}

h1 {
  color: var(--main-brand);
  font-size: 3.16rem;
  margin-bottom: 1.333rem;
  margin-top: 1.777rem;
  text-transform: uppercase;
  text-shadow: 0 0.125rem 0.0625rem var(--light-accent);
}

h1 > a:hover {
  text-decoration: none;
}

h2 {
  color: var(--light-accent);
  font-size: 2.37rem;
  line-height: 116%;
  text-shadow: 0 0.125rem 0.0625rem var(--text-main);
  text-transform: uppercase;
}

h3 {
  color: var(--light-accent);
  font-size: 1.77rem;
}

li {
  margin-top: 1.33rem;
}

nav {
  display: flex;
  margin: 1.77rem auto;
  text-transform: uppercase;
  text-shadow: 0 0 0.0625rem var(--light-accent);
}

nav > a {
  display: inline-block;
  padding: 0 1.333rem 0 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.75rem;
}

td, th {
  padding: 0.25rem;
  text-align: left;
}

thead {
  border-bottom: 1px solid var(--dark-accent);
}

tfoot {
  border-top: 1px solid var(--dark-accent);
}

.article-chart {
  text-transform: uppercase;
}

.bullet-less, .bullet-less li {
  list-style-position: inside;
  list-style-type: none;
  padding-bottom: 0.166rem;
  text-transform: uppercase;
}

.col_act {
  color: var(--light-accent);
}

.date-header {
  font-size: 1rem;
  color: var(--light-accent);
  margin-top: -1.77rem;
}

.muted {
  font-size: 0.75rem;
  color: var(--dark-accent);
}
